extends layout
include _includes/sharedHTMLfunctions

block content
    .row.banner
        .col-12
            h1= pageHeader.title
                small &nbsp;#{pageHeader.strapline}
    .row
        .col-12.col-md-8
            each restaurant in restaurants 
                .card
                    .card-block
                        h4
                            a(href="/restaurant").span.card-title= restaurant.name
                            small &nbsp;
                                +outputrating(restaurant.rating)
                            span.badge.badge-pill.badge-default.float-right= restaurant.distance
                            p.address= restaurant.address
                            p.facilities
                                each facility in restaurant.facilities
                                    span.badge.badge-warning= facility
        .col-12.col-md-4
            p.lead= sidebar
            